{% extends 'base.html' %}

{% block title %}404 - Page Not Found{% endblock %}
{% block main %}
        <main>
            <section class="hero">
                <div class="container">
					<div class="container-sm">
                    <h1>Page Not Found</h1>
                    {{platform}}
                        <img src="https://www.nicepng.com/png/detail/123-1233526_i-dunno-emoji.png" alt="I Dunno - - Emoji@nicepng.com">
					</div>
                </div>
            </section>
        </main>
{% endblock %}

