{% extends 'base.html' %}

{% block title %}URL - Let's Bait{% endblock %}
{% block main %}
        <main>
            <section class="hero">
                <div class="container">
                    <div class="hero-inner">
						<div class="hero-copy">
							<form action="{{url_for('create_page')}}" method="POST">
	                        <h1 class="hero-title mt-0">Let's create an URL</h1>
							{% with messages = get_flashed_messages() %}
        						{% if messages %}
								<div class="alert alert-danger" role="alert">
									{{ messages[0] }}
								  </div>
								{% endif %}
                                {% endwith %}
	                        <div class="input-group mb-3">
								<span class="input-group-text">✍</span>
								<input type="text" class="form-control" name="url" aria-label="Amount (to the nearest dollar)">
							</div>
	                        <div class="hero-cta">
								<button data-bs-toggle="modal" data-bs-target="#checkPrivacy" class="button button-primary" href="#" type="button" value="Submit">YEAH!</button>
								<div class="lights-toggle">
									<input id="lights-toggle" type="checkbox" name="lights-toggle" class="switch" checked="checked">
									<label for="lights-toggle" class="text-xs"><span>Turn me <span class="label-text">dark</span></span></label>
								</div>
							</div>
						</div>

						<div class="hero-media">
							<div class="header-illustration">
								<img class="header-illustration-image asset-light" src="{{ url_for('static', filename='dist/images/header-illustration-light.svg') }}" alt="Header illustration">
								<img class="header-illustration-image asset-dark" src="{{ url_for('static', filename='dist/images/header-illustration-dark.svg') }}" alt="Header illustration">
							</div>
							<div class="hero-media-illustration">
								<img class="hero-media-illustration-image asset-light" src="{{ url_for('static', filename='dist/images/hero-media-illustration-light.svg') }}" alt="Hero media illustration">
								<img class="hero-media-illustration-image asset-dark" src="{{ url_for('static', filename='dist/images/hero-media-illustration-dark.svg') }}" alt="Hero media illustration">
							</div>
							<div class="hero-media-container">
								<img class="hero-media-image asset-light" width="500" src="{{ url_for('static', filename='dist/images/hero-media-light.png') }}" alt="Hero media">
								<img class="hero-media-image asset-dark" width="500" src="{{ url_for('static', filename='dist/images/hero-media-dark.png') }}" alt="Hero media">
							</div>
						</div>
                    </div>
                </div>
            </section>
        </main>
		<div class="modal fade" id="checkPrivacy" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog">
			  <div class="modal-content">
				<div class="modal-header">
				  <h5 class="modal-title" id="staticBackdropLabel">THIS ACTION REQUIRES YOUR CONSENT</h5>
				  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
				I agree with the <a href="/privacy">Privacy Policy</a>.
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				  <button class="btn btn-primary" type="submit" value="Submit">I Agree & Create URL</button>
				</div>
			  </div>
			</div>
		  </div>
		</form>
{% endblock %}

